<div class="row">
  <div class="col-md-5" style="top: -30px;">
    <a href="<%= user_path(@user) %>"></a>
    <h1>
      <%= @user.login %>
    </h1>
  </div>
</div>

<% if @user.problems.any? %>
  <h3> <%= t( :problem_list ) %> (<%= @user.problems.count %>)</h3>

  <table class="table table-hover">
  <!-- thead -->
    <thead>
      <tr>
        <th><%= t( :problem_content ) %></th>
        <th><%= t( :problem_status ) %></th>
        <th><%= t( :problem_date ) %></th>
      </tr>
    </thead>

    <!-- tbody -->
    <tbody>
      <% @problems.each do |problem| %>
        <tr>
          <td>
            <span class="name"><%= problem.content %></span>
            <span class="comment"><%= t( :problem_comment ) %></span>
            <span class="comment"><%= problem.admin_comment %></span>
          </td>
          <td>
            <%= problem.status_id %>
          </td>
          <td>
            <%= time_ago_in_words(problem.created_at) %> <%= t(:problem_ago) %>
            <span>
              <% if current_user?(problem.user) %>
                <%= link_to "delete", problem, method: :delete,
                                               data: { confirm: t(:user_you_shure),
                                               title: problem.content } %>
              <% end %>
            </span>
          </td>
        </tr>
      <% end %>

    </tbody>

  </table>

  <%= will_paginate @problems %>
<% end %>
