<% provide(:title, t(:problem_full)) %>

  <% if signed_in? && current_user %>

    <div id="pad-wrapper">

      <%= render 'shared/user_info', object: current_user %>


      <div class="row">
        <div class="col-md-5 problem-add">
          <%= render 'shared/problem_form' %>
        </div>

        <div class="col-md-7">
          <h3> <%= t( :problem_my_list ) %> (<%= @current_user_problems.count %>) </h3>
          <table class="table table-hover">
            <%= render 'shared/problem_table_head' %>
            <tbody>
              <% @current_user_problems.each do |p| %>
                <%= render 'shared/problem_table_row', object: p %>
              <% end %>
            </tbody>
          </table>
          <%= will_paginate @current_user_problems %>
        </div>
      </div>



  <% else %>

  <!-- link_to sign_in -->

  <% end %>
</div>
