- provide(:title, t(:edit_profile))
#pad-wrapper.users-list
  .row{ style: "margin-bottom: 60px;" }
    %h3= t(:edit_profile)
  .row.form-wrapper
    / left column
    .col-md-8.column
      = form_for(@user) do |f|
        = render 'shared/error_messages', object: f.object
        %form

          /Login
          .field-box
            %label= t(:login)
            .col-md-7
              .predifined
                %span.value{style: "font-weight: 900; font-size: 20px;"}
                  = @user.login
                / = f.text_field :login, :class => 'form-control inline-input', :readonly => true

          /Filial
          .field-box
            %label= t(:filial)
            .col-md-7

          /Cabinet
          .field-box
            %label= t(:cabinet)
            .col-md-7

          /Phone
          .field-box
            %label= t(:phone)
            .col-md-7

          /Password
          .field-box
            %label= t(:password)
            .col-md-7
              = f.password_field :password, :class => 'form-control'

          /Password confirmation
          .field-box
            %label= t(:password_confirmation)
            .col-md-7
              = f.password_field :password_confirmation, :class => 'form-control'

          .action
            = f.submit t(:save_changes), class: "btn btn-glow btn-primary primary signup"

