<% provide(:title, t(:edit_profile)) %>
<div class="new-user" id="pad-wrapper">
  <div class="row header">
    <h3>
      <%= t(:edit_profile) %>
    </h3>
  </div>
  <div class="row form-wrapper">
    <!-- left column -->
    <div class="col-md-6 with-sidebar">
      <%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
      <!-- login -->
        <div class="form-group">
          <%= label_tag 'login', t(:login), class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.text_field :login, id: 'login', class: 'form-control inline-input', style: 'color:#333333; font-weight:900; font-size:20px;',readonly: true, value: @user.login %>
          </div>
        </div>
      <!-- name -->
        <div class="form-group">
          <%= label_tag 'name', t(:select_name), class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.text_field :name, id: 'name', class: 'form-control', placeholder: t( :select_name ) %>
          </div>
        </div>
      <!-- DUMMY position -->
        <div class="form-group">
          <label class="col-md-3 control-label" for="position">Должность</label>
            <div class="col-md-8">
              <select class="ui-select" id="position" name="" style="width:100%; -webkit-appearance: none;">
                <option value="0">ваша должность:</option>
                <optgroup label="Должности руководителей">
                  <option value="1">Главный врач</option>
                  <option value="2">Директор больницы</option>
                  <option value="3">Главная медицинская сестра</option>
                  <option value="4">Заведующий медицинским складом мобилизационного резерва</option>
                </optgroup>
                <optgroup label="Должности специалистов">
                  <option value="5">Врач-специалист</option>
                  <option value="6">Врач-акушер-гинеколог</option>
                  <option value="7">Врач-анастезиолог-реаниматолог</option>
                  <option value="7">Врач-генетик</option>
                  <option value="7">Врач-дерматовенеролог</option>
                  <option value="7">Врач - детский хирург</option>
                  <option value="7">Врач-инфекционист</option>
                  <option value="7">Врач клинической лабораторной диагностики</option>
                  <option value="7">Врач общей практики </option>
                  <option value="7">Врач-онколог</option>
                  <option value="7">Врач-оториноларинголог</option>
                  <option value="7">Врач-офтальмолог</option>
                  <option value="7">Врач-педиатр</option>
                  <option value="7">Врач по общей гигиене</option>
                  <option value="7">Врач по спортивной медицине</option>
                  <option value="7">Врач-психиатр</option>
                  <option value="7">Врач-рентгенолог</option>
                  <option value="7" selected="selected">Врач-терапевт</option>
                  <option value="7">Врач-терапевт участковый</option>
                  <option value="7">Врач-травматолог-ортопед</option>
                  <option value="7">Врач-фтизиатр</option>
                  <option value="7">Врач-хирург</option>
                  <option value="7">Врач-эндокринолог</option>
                  <option value="7">Врач-эпидемиолог</option>
                  <option value="7">Врач скорой медицинской помощи</option>
                  <option value="7">Врач-статистик</option>
                  <option value="7">Врач-методист</option>
                  <option value="7">Врач-патологоанатом</option>
                  <option value="7">Врач - судебно-медицинский эксперт</option>
                  <option value="7">Провизор</option>
                </optgroup>
                <optgroup label="Должности специалистов с высшим профессиональным образованием">
                  <option value="7">Биолог</option>
                  <option value="7">Зоолог, энтомолог</option>
                  <option value="7">Инструктор-методист по лечебной физкультуре</option>
                  <option value="7">Медицинский психолог</option>
                  <option value="7">Медицинский физик</option>
                  <option value="7">Химик-эксперт медицинской организации</option>
                  <option value="7">Судебный эксперт</option>
                  <option value="7">Эксперт-физик по контролю за источниками ионизирующих и неионизирующих излучений</option>
                </optgroup>
                <optgroup label="Должности специалистов со средним медицинским и фармацевтическим образованием">
                  <option value="7">Зубной врач</option>
                  <option value="7">Медицинский технолог</option>
                  <option value="7">Акушерка</option>
                  <option value="7">Фельдшер</option>
                  <option value="7">Фельдшер-водитель скорой медицинской помощи</option>
                  <option value="7">Фельдшер-лаборант</option>
                  <option value="7">Помощник энтомолога</option>
                  <option value="7">Фармацевт</option>
                  <option value="7">Медицинская сестра</option>
                  <option value="7">Медицинская сестра участковая</option>
                  <option value="7">Медицинская сестра врача общей практики </option>
                  <option value="7">Медицинская сестра палатная </option>
                  <option value="7">Медицинская сестра процедурной</option>
                  <option value="7">Медицинская сестра перевязочной</option>
                  <option value="7">Операционная медицинская сестра</option>
                  <option value="7">Медицинская сестра-анестезист</option>
                  <option value="7">Медицинская сестра по физиотерапии</option>
                  <option value="7">Медицинская сестра по массажу</option>
                  <option value="7">Медицинская сестра диетическая</option>
                  <option value="7">Медицинская сестра патронажная</option>
                  <option value="7">Медицинская сестра приемного отделения </option>
                  <option value="7">Медицинская сестра по приему вызовов и передаче их выездным бригадам</option>
                  <option value="7">Медицинская сестра стерилизационной</option>
                  <option value="7">Медицинский оптик-оптометрист</option>
                  <option value="7">Лаборант</option>
                  <option value="7">Рентгенолаборант</option>
                  <option value="7">Инструктор по лечебной физкультуре</option>
                  <option value="7">Инструктор-дезинфектор</option>
                  <option value="7">Инструктор по гигиеническому воспитанию</option>
                  <option value="7">Медицинский статистик</option>
                  <option value="7">Медицинский регистратор</option>
                  <option value="7">Медицинский дезинфектор</option>
                  <option value="7">Продавец оптики</option>
                  <option value="7">Гигиенист стоматологический</option>
                </optgroup>
                <optgroup label="Должности младшего медицинского и фармацевтического персонала">
                  <option value="7">Младшая медицинская сестра по уходу за больными</option>
                  <option value="7">Младший фармацевт</option>
                  <option value="7">Сестра-хозяйка</option>
                  <option value="7">Фасовщица</option>
                  <option value="7">Санитарка</option>
                  <option value="7">Санитар-водитель</option>
                </optgroup>
                <optgroup label="Должности прочего персонала лечебно-трудовых мастерских при медицинских организациях">
                  <option value="7">Инструктор производственного обучения рабочих массовых профессий</option>
                </optgroup>








              </select>
            </div>
        </div>



      <!-- filial -->
        <div class="form-group">
          <%= label_tag 'filial', t(:filial), class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.collection_select(:filial_id, @filials, :id, :name, {include_blank: t(:select_filial)}, { class:"ui-select", style:"width:100%; -webkit-appearance: none;", id:"filial" } ) %>
          </div>
        </div>
      <!-- cabinet -->
        <div class="form-group">
          <%= label_tag 'cabinet', t(:cabinet), class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.text_field :cabinet, id: 'cabinet', class: 'form-control', placeholder: t( :select_cabinet ) %>
          </div>
        </div>
      <!-- phone -->
        <div class="form-group">
          <%= label_tag 'phone', t(:phone), class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.text_field :phone, id: 'phone', class: 'form-control', placeholder: t( :select_phone ) %>
          </div>
        </div>
      <!-- password -->
        <div class="form-group">
          <%= label_tag 'password', t(:password), class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.password_field :password, id: 'password', class: 'form-control', placeholder: t( :select_password ) %>
          </div>
        </div>
      <!-- password confirmation -->
        <div class="form-group">
          <%= label_tag 'password_confirmation', t(:password_confirmation), class: 'col-md-3 control-label' %>
          <div class="col-md-8">
            <%= f.password_field :password_confirmation, id: 'password_confirmation', class: 'form-control', placeholder: t( :select_password_confirmation ) %>
          </div>
        </div>
      <!-- submit -->
      <div class="form-group">
        <div class="col-md-3 control-label">

        </div>

        <div class="action">
          <%= f.submit t(:save_changes), disable_with: t(:send_wait) ,class: "btn btn-glow btn-primary primary signup", style:'margin-left:15px;' %>
        </div>
      </div>
      <% end %>
    </div>
    <!-- right column -->
    <div class="col-md-3">
        <div class="alert alert-info">
            <i class="fa fa-lightbulb-o"></i>
            <strong>Краткие инструкции</strong>
            <ul>
              <li>Обязательно заполните все поля для получения доступа к полному функционалу</li>
              <li>В графе "телефон" желательно указывать телефон кабинета</li>
            </ul>
        </div>
<!--         <h6>Sidebar text for instructions</h6>
        <p>Add multiple users at once</p>
        <p>Choose one of the following file types:</p>
        <ul>
            <li><a href="#">Upload a vCard file</a></li>
            <li><a href="#">Import from a CSV file</a></li>
            <li><a href="#">Import from an Excel file</a></li>
        </ul> -->
    </div>

  </div>
</div>
