<% provide(:title, t(:edit_profile)) %>
<div class="users-list" id="pad-wrapper">
  <div class="row" style="margin-bottom: 60px;">
    <h3>
      <%= t(:edit_profile) %>
    </h3>
  </div>
  <div class="row form-wrapper">
    <!-- left column -->
    <div class="col-md-5 column">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <form>
          <!--Login -->
          <div class="field-box">
            <label>
              <%= t(:login) %>
            </label>
            <div class="col-md-7">
              <div class="predifined">
                <span class="value" style="font-weight: 900; font-size: 20px;">
                  <%= @user.login %>
                </span>
                <!-- = f.text_field :login, :class => 'form-control inline-input', :readonly => true -->
              </div>
            </div>
          </div>
          <!--Filial-->
          <div class="field-box">
            <label>
              <%= t(:filial) %>
            </label>
            <div class="col-md-7">
              <div class="predifined">
                <div class="ui-select" style="width: 100%">
                  <%= f.collection_select(:filial_id, @filials, :id, :name, :include_blank => t(:filial_select) , :class => "ui-select") %>
                </div>

                <span class="area">

                </span>

              </div>
            </div>
          </div>
          <!--Cabinet -->
          <div class="field-box">
            <label>
              <%= t(:cabinet) %>
            </label>
            <div class="col-md-7">
              <%= f.text_field :cabinet, :class => 'form-control' %>
            </div>
          </div>
          <!--Phone -->
          <div class="field-box">
            <label>
              <%= t(:phone) %>
            </label>
            <div class="col-md-7">
              <%= f.text_field :phone, :class => 'form-control' %>
            </div>
          </div>
          <!--Password -->
          <div class="field-box">
            <label>
              <%= t(:password) %>
            </label>
            <div class="col-md-7">
              <%= f.password_field :password, :class => 'form-control' %>
            </div>
          </div>
          <!--Password confirmation -->
          <div class="field-box">
            <label>
              <%= t(:password_confirmation) %>
            </label>
            <div class="col-md-7">
              <%= f.password_field :password_confirmation, :class => 'form-control' %>
            </div>
          </div>
          <div class="action">
            <%= f.submit t(:save_changes), class: "btn btn-glow btn-primary primary signup" %>
          </div>
        </form>
      <% end %>
    </div>
  </div>
</div>
