<% provide( :title, @user.name ) %>
<div id="pad-wrapper">
  <div class="row">
    <div class="col-md-6">
      <%= render 'shared/user_info', object: @user %>
    </div>
  </div>
  <h3> <%= t( :user_problems ) %> (<%= @current_user_problems.count %>) </h3>
  <% @current_user_problems.each do |p| %>
    <%= render 'shared/problem_element', object: p %>
  <% end %>
  <%= will_paginate @current_user_problems %>


<% if current_user.admin? %>
<% else %>
<% end %>


</div>
