<h6><%= t( :problem_add_header ) %></h6>
<p><%= t( :problem_add_subheader ) %></p>


<%= form_for(@problem) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <select name="problem_type_main" id="" class="ui-select" >
    <option value="">Тип проблемы</option>
    <option selected value="">Оргтехника и комплектующие</option>
    <option value="">Сеть / Интернет</option>
    <option value="">Программное обеспечение</option>
  </select>


  <%= f.text_area :content, placeholder: t(:problem_input), onkeyup: "countChar(this);" %>

  <div id="countdown" class="countdown pull-right">250 символов</div>

  <!-- replace with select_tag -->
  <%= f.submit t(:problem_send_btn), action: 'add', disable_with: t(:send_wait), class: "btn-glow primary" %>
<% end %>

<br>
<div class="alert alert-info">
  <i class="fa fa-lightbulb-o"></i>
  <strong>Краткие инструкции</strong>
  <ul>
    <li>При подаче заявки обязательно выбрать тип проблемы и вкратце дать описание</li>
    <li>Заявку можно отменить, только если ее статус не изменился с момента подачи</li>
    <li>Не забывайте отслеживать комментарии администратора к заявке</li>
  </ul>
</div>

<script>
  function countChar(val) {
    var len = val.value.length;
    if (len >= 250) {
      val.value = val.value.substring(0, 249);
    } else {
      $('#countdown').text(250 - len + ' символов');
    }
  };
</script>

