<div class="panel-group" id="accordion" style="margin-bottom:10px;">
  <div class="panel panel-default">
    <!-- heading -->
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#<%= object.id %>">
          <div class="row">
            <div class="col-md-4 type">
              <i class="fa fa-chevron-down" style="color:#95a8b7; padding-right: 15px;"></i>

              <!-- replace with problem type -->
              <% if object.content.split(" ").count > 5 %>
                <%= object.content.split(" ").first(5).join(" ") %> ...
              <% else %>
                <%= object.content %>
              <% end %>

            </div>
            <div class="col-md-4 sender">
              <% if params[:action] == 'all' %>
                <%= link_to object.user.name, object.user, class: "name" %>
              <% end %>
            </div>
            <div class="col-md-2 date" data-toggle="tooltip" data-placement="top" title="<%= l((object.created_at.in_time_zone('Ekaterinburg')), format: '%a, %e %b %Y :: %H:%M') %>">
              <%= time_ago_in_words(object.created_at) %> <%= t(:problem_ago) %>
            </div>
            <div class="col-md-2 status">
              <%= render 'shared/problem_status', object: object %>
              <% if current_user?(object.user) %>
                <!-- delete my message button -->
                  <%= link_to object, method: :delete, data: { confirm: t(:problem_cancel_shure), title: object.content }, class: "pull-right buttons" do %>
                    <i class="fa fa-times"></i>
                  <% end %>
              <% end %>
            </div>
          </div>
        </a>
      </h4>
    </div>
    <!-- body -->
    <div id="<%= object.id %>" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="row">
          <!-- content -->


          <% if params[:action] == 'add'
            content_size = 12
          else
            content_size = 4
          end %>

          <div class="col-md-<%= content_size.to_s %>">
            <div class="row">
              <div class="col-md-12 problem-message">
                <%= object.content %>
              </div>
            </div>
            <% if !object.admin_comment.blank? %>
              <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                  <div class="alert alert-info" style="margin-bottom:0px;">
                    <i class="fa fa-lightbulb-o"></i>
                    <%= object.admin_comment %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>

          <!-- address -->
          <div class="col-md-8">
            <% if params[:action] == 'all'%>
              <%= render 'shared/user_info', object: object.user %>
            <% end %>
          </div>
        </div>

          <!-- admin comment -->
          <div class="row">
            <div class="col-md-12">
              <% if (current_user.admin? && params[:action] != 'add' && params[:action] != 'create') %>
                <div class="row">
                  <div class="col-md-12">
                    <div class="btn-group" style="width:100%">
                      <%= form_for(object) do |f| %>
                        <%= f.text_field :admin_comment, placeholder: t(:problem_admin_comment), class: "form-control", style: "float:left; width:70%; display: inline-block; border-radius: 5px 0px 0px 5px;" %>

                        <!-- DUMMY -->
                        <select name="" id="" class="ui-select adm-comm" style="width: 20%; display: inline-block; float:left;height: 34px; font-weight:500; border-radius: 0px; -webkit-appearance: none;">
                          <option value="1" selected="selected">Выполнено</option>
                          <option value="2">Отказано</option>
                          <option value="3">Ожидание</option>
                          <option value="0">Сброс</option>
                        </select>

                        <%= f.submit "OK", disable_with: t(:send_wait_short), action: 'update', class: "glow right", style: "width: 10%; display: inline-block;height: 34px;border-left-width: -1px;" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>