<!-- <div id="main-stats">
  <div class="row stats-row">
    <div class="col-md-4 col-sm-4 stat"></div>
    <div class="col-md-4 col-sm-4 stat"></div>
    <div class="col-md-4 col-sm-4 stat"></div>
  </div>
</div> -->
<div class="row">
  <div class="col-md-12" style="top: -30px;">
    <div class="row user-profile">
      <a href="<%= user_path(object) %>"></a>
        <div class="col-md-3 b-right">
          <h2 class="name">
            <%= link_to object.login, object %>
          </h2>
          <h4>
            <i class="fa fa-phone"></i>
            <%= object.phone %>
          </h4>
        </div>
        <div class="col-md-6 address">
          <ul>
            <li><i class="fa fa-home"></i><%= object.filial.name %>, <strong>каб. <%= object.cabinet %></strong></li>
            <li><i class="fa fa-compass"></i><%= object.filial.address %></li>
            <li><i class="fa fa-phone"></i><%= object.filial.phone %></li>
          </ul>
        </div>
    </div>
  </div>
</div>
