  <div class="row user-profile">
    <a href="<%= user_path(current_user) %>"></a>
      <div class="col-md-6">
        <h2 class="name">
          <%= link_to current_user.login, current_user %>
        </h2>
        <h4>
          <i class="fa fa-phone"></i>
          <%= current_user.phone %>
        </h4>
      </div>
      <div class="col-md-6 address">
        <ul>
          <li><i class="fa fa-home"></i><%= current_user.filial.name %>, каб. <%= current_user.cabinet %></li>
          <li><i class="fa fa-compass"></i><%= current_user.filial.address %></li>
          <li><i class="fa fa-phone"></i><%= current_user.filial.phone %></li>
        </ul>
      </div>
  </div>
