/ sidebar
#sidebar-nav
  %ul#dashboard-menu

    /Signin or signout
    = content_tag :li, class:"#{active_link(signup_path)}" do
      = link_to '#' do
        %i.icon-signin
        %span= t :signin

    /Главная
    = content_tag :li, class:"#{active_link(root_path)}" do
      - if active_link?(root_path)
        .pointer
          .arrow
          .arrow_border
      = link_to root_path do
        %i.icon-home
        %span= t :home

    /Запись на прием к врачу
    = content_tag :li, class:"#{active_link(k_vrachu_path)}" do
      - if active_link?(k_vrachu_path)
        .pointer
          .arrow
          .arrow_border
      = link_to k_vrachu_path do
        %i.icon-heart-empty
        %span= t :k_vrachu

    / if signed_in? display links below

    /ПроМед
    = content_tag :li, class:"#{active_link(promed_path)}" do
      - if active_link?(promed_path)
        .pointer
          .arrow
          .arrow_border
      = link_to promed_path do
        %i.icon-desktop
        %span= t :promed

    /Неполадка
    = content_tag :li, class:"#{active_link(problem_path)}" do
      - if active_link?(problem_path)
        .pointer
          .arrow
          .arrow_border
      = link_to problem_path do
        %i.icon-bullhorn
        %span= t :problem


    /Additional links

    /Помощь
    = content_tag :li, class:"#{active_link(help_path)}" do
      - if active_link?(help_path)
        .pointer
          .arrow
          .arrow_border
      = link_to help_path do
        %i.icon-question-sign
        %span= t :help

    /About
    = content_tag :li, class:"#{active_link(history_path || contacts_path || licenses_path)}" do
      - if active_link?(history_path) || active_link?(contacts_path) || active_link?(licenses_path)
        .pointer
          .arrow
          .arrow_border
      %a.dropdown-toggle{href: "#"}
        %i.icon-briefcase
        %span= t :about
        %i.icon-chevron-down
      %ul.submenu
        %li
          = link_to(t(:history), history_path, class:"#{active_link(history_path)}")
        %li
          = link_to(t(:contacts), contacts_path, class:"#{active_link(contacts_path)}")
        %li
          = link_to(t(:licenses), licenses_path, class:"#{active_link(licenses_path)}")

    / %li
    /   %a.dropdown-toggle{href: "#"}
    /     %i.icon-share-alt
    /     %span Extras
    /     %i.icon-chevron-down
    /   %ul.submenu
    /     %li
    /       %a{href: "#"} Code editor
    /     %li
    /       %a{href: "#"} Grids
    /     %li
    /       %a{href: "#"} Sign in
    /     %li
    /       %a{href: "#"} Sign up
/ end sidebar
