/ sidebar
#sidebar-nav
  %ul#dashboard-menu

    /Главная
    = content_tag :li, class:"#{active_link(root_path)}" do
      = active_link?(root_path)

      = link_to root_path do
        %i.fa.fa-home
        %span= t :home

    - if signed_in? && current_user.admin?
      /if signed_in && admin
      = content_tag :li, class:"" do
        = active_link?(users_path) || active_link?(problemall_path)
        %a.dropdown-toggle{href: "#"}
          %i.fa.fa-cogs
          /icon-user-md
          %span= t :admin
          /DUMMY
          %span.count 5
          %i.icon-chevron-down
        %ul.submenu
          %li
            = link_to(t(:problem_admin), problemall_path, class:"#{active_link(problemall_path)}")
          %li
            = link_to(t(:users), users_path, class:"#{active_link(users_path)}")

    - if signed_in?
      / if signed_in? display links below
      /ПроМед
      = content_tag :li, class:"#{active_link(promed_path)}" do
        = active_link?(promed_path)
        = link_to promed_path do
          %i.fa.fa-desktop
          %span= t :promed

      /if signed_in && not admin
      /Неполадка
      = content_tag :li, class:"#{active_link(problemadd_path)}" do
        = active_link?(problemadd_path)
        = link_to problemadd_path do
          %i.fa.fa-bullhorn
          %span= t :problem

    /Запись на прием к врачу
    = content_tag :li, class:"" do
      = active_link?(k_vrachu_path) || active_link?(documents_path)
      %a.dropdown-toggle{href: "#"}
        %i.fa.fa-stethoscope
        /icon-user-md
        %span= t :k_vrachu
        %i.icon-chevron-down
      %ul.submenu
        %li
          = link_to(t(:k_vrachu_zapis), k_vrachu_path, class:"#{active_link(k_vrachu_path)}")
        %li
          = link_to(t(:documents), documents_path, class:"#{active_link(documents_path)}")


    /Additional links

    /About
    = content_tag :li, class:"" do
      = active_link?(history_path) || active_link?(contacts_path) || active_link?(licenses_path) || active_link?(help_path)
      %a.dropdown-toggle{href: "#"}
        %i.fa.fa-info-circle
        %span= t :about
        %i.icon-chevron-down
      %ul.submenu
        %li
          = link_to(t(:history), history_path, class:"#{active_link(history_path)}")
        %li
          = link_to(t(:contacts), contacts_path, class:"#{active_link(contacts_path)}")
        %li
          = link_to(t(:licenses), licenses_path, class:"#{active_link(licenses_path)}")
        %li
          = link_to(t(:help), help_path, class:"#{active_link(help_path)}")

    /Dropdown sample
    / %li
    /   %a.dropdown-toggle{href: "#"}
    /     %i.icon-share-alt
    /     %span Extras
    /     %i.icon-chevron-down
    /   %ul.submenu
    /     %li
    /       %a{href: "#"} Code editor
    /     %li
    /       %a{href: "#"} Grids
    /     %li
    /       %a{href: "#"} Sign in
    /     %li
    /       %a{href: "#"} Sign up
/ end sidebar
