!!!
%html
  %head
    %title
      = full_title(yield(:title))
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %style#flot-default-styles
      :cdata
        \.flot-tick-label {font-size:smaller;color:#545454;}
    %title
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    / bootstrap
    %link{href: "css/bootstrap/bootstrap.css", rel: "stylesheet"}/
    %link{href: "css/bootstrap/bootstrap-overrides.css", rel: "stylesheet", type: "text/css"}/
    / libraries
    %link{href: "css/lib/jquery-ui-1.10.2.custom.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "css/lib/font-awesome.css", rel: "stylesheet", type: "text/css"}/
    / global styles
    %link{href: "css/compiled/layout.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "css/compiled/elements.css", rel: "stylesheet", type: "text/css"}/
    %link{href: "css/compiled/icons.css", rel: "stylesheet", type: "text/css"}/
    / this page specific styles
    %link{href: "css/compiled/index.css", media: "screen", rel: "stylesheet", type: "text/css"}/
    / open sans font
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,700&subset=latin,cyrillic-ext", rel: "stylesheet", type: "text/css"}/
    / lato font
    %link{href: "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", rel: "stylesheet", type: "text/css"}/
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body{style: ""}
    = render 'layouts/header'
    = render 'layouts/sidebar'
    .content
      = render 'layouts/upper_main_stats'
      = yield
    = render 'layouts/footer'
