<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= full_title(yield(:title)) %>
    </title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <title></title>
    <meta content="text/html; charset=US-ASCII" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <!-- bootstrap -->
    <!-- <link href="css/bootstrap/bootstrap.css" rel="stylesheet">/</link> -->
    <!-- <link href="css/bootstrap/bootstrap-overrides.css" rel="stylesheet" type="text/css">/</link> -->
    <!-- libraries -->
    <!-- <link href="css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css">/</link> -->
    <!-- <link href="css/lib/font-awesome.css" rel="stylesheet" type="text/css">/</link> -->
    <!-- global styles -->
    <!-- <link href="css/compiled/layout.css" rel="stylesheet" type="text/css">/</link> -->
    <!-- <link href="css/compiled/elements.css" rel="stylesheet" type="text/css">/</link> -->
    <!-- <link href="css/compiled/icons.css" rel="stylesheet" type="text/css">/</link> -->
    <!-- this page specific styles -->
    <!-- <link href="css/compiled/index.css" media="screen" rel="stylesheet" type="text/css">/</link> -->

    <!-- open sans font -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,500italic,600italic,700italic,300,400,500,600,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css"></link>
    <!-- lato font -->
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css"></link>
    <!--[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    -->
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>
    <div class="content">
      <!-- = render 'layouts/upper_main_stats' -->
      <div class="flash-container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %> alert-dismissable">
            <% if key.to_s == "success" %>
              <i class="fa fa-check-circle"></i>
            <% elsif key.to_s == "info"%>
              <i class="fa fa-exclamation-circle"></i>
            <% elsif key.to_s == "warning" %>
              <i class="fa fa-exclamation-triangle"></i>
            <% elsif key.to_s == "alert" %>
              <i class="fa fa-times-circle"></i>
            <% end %>
            <%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          </div>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <div class="row stats-row">
      <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
